<button *ngIf="!this.show" type="button" (click)="this.handleShowButtonClick($event)">
  <svg xmlns="http://www.w3.org/2000/svg" height="24" width="24" viewBox="0,0,48,48">
    <path d="M22.5 38V25.5H10v-3h12.5V10h3v12.5H38v3H25.5V38Z" />
  </svg>
</button>
<form (click)="$event.stopPropagation()" [class.hide]="!this.show" (submit)="this.handleFormSubmission($event)">
  <label for="title">Title</label>
  <input type="text" id="title" name="title" maxlength="255" minlength="1" required>
  <label for="body">Body</label>
  <textarea name="body" id="body" minlength="1" maxlength="10000" required></textarea>
  <button type="submit"><svg xmlns="http://www.w3.org/2000/svg" height="24" width="24" viewBox="0,0,48,48">
      <path
        d="M22.5 34h3v-8.5H34v-3h-8.5V14h-3v8.5H14v3h8.5ZM9 42q-1.2 0-2.1-.9Q6 40.2 6 39V9q0-1.2.9-2.1Q7.8 6 9 6h30q1.2 0 2.1.9.9.9.9 2.1v30q0 1.2-.9 2.1-.9.9-2.1.9Zm0-3h30V9H9v30ZM9 9v30V9Z" />
    </svg></button>
</form>
